@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication5.Pages.UpdateMyPlanModel
@{
}
<br />
<form action="/UpdateMyPlan" method="post">
    <div class="form-group row">
        <label for="CustomerID" class="col-sm-2 col-form-label">Customer ID</label>
        <div class="col-sm-10">
            <input class="form-control" id="CustomerID" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="FirstName" class="col-sm-2 col-form-label">FirstName</label>
        <div class="col-sm-10">
            <input class="form-control" id="FirstName" name="FirstName">
        </div>
    </div>
    <div class="form-group row">
        <label for="LastName" class="col-sm-2 col-form-label">LastName</label>
        <div class="col-sm-10">
            <input class="form-control" id="LastName" name="LastName">
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <span> Personal Insurance</span>
        </div>
        <div class="grid-item">
            <select name="PlanPriceID">
                <option value="1">1000</option>
                <option value="2">2000</option>
                <option value="3">3000</option>
            </select>
        </div>
        <div class="grid-item">
            <input type="checkbox" name="selectedPlan" value="1" />
        </div>
        <div class="grid-item">
            <span> Accident Insurance</span>
        </div>
        <div class="grid-item">
            <select name="PlanPriceID">
                <option value="3">1000</option>
                <option value="4">2000</option>
                <option value="5">3000</option>
            </select>
        </div>
        <div class="grid-item">
            <input type="checkbox" name="selectedPlan" value="2" />
        </div>
        <div class="submitButton">
            <input class="btn btn-success pull-right" type="submit" name="UpdateInsuranceData" value="Submit" />
        </div>
    </div>
</form>

@*<div class="container-fluid">
        <form action="/" method="post" class="form-control form-group">
            <div class="row datagridHeader">
                <div class="col-sm-4">
                    Plan Name
                </div>
                <div class="col-sm-4">
                    Plan Price
                </div>
                <div class="col-sm-4">
                    Select Option
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <span> Insurance Plan </span>
                </div>
                <div class="col-sm-4">
                    <select>
                        <option value="value">1000</option>
                        <option value="value">2000</option>
                        <option value="value">3000</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" name="select" value="" />
                </div>
            </div>
            <br />
            <div class="row clearfix">
                <div class="col-xs-12 text-right text-justify" style="border:none">
                    <input class="btn btn-success pull-right" type="button" name="name" value="Submit" />
                </div>
            </div>
        </form>
    </div>*@

